.titlePagePro {
  text-align: center;
  margin: 30px auto;
}
.infoContainerPagePro {
  margin: 5px auto;
  width: 90%;
  text-align: justify;
  border: 2px solid var(--tertiaryColor);
  padding: 25px;
}
.paragraphPagePro {
  color: var(--tertiaryColor);
}

.containerWelcomePro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 1em;
  width: 90%;
  height: 150px;
  margin: 15px auto;
  background: var(--mainColor);
  color: var(--accentColor);
  text-align: center;
}

.linkProPage {
  font-size: 1.2em;
}
