.devisListContainer {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
  margin-top: 50px;
  padding: 10px;
  background: rgb(249 250 251);
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
}
.titlePublication {
  font-size: 1em;
  font-weight: 600;

  color: var(--mainColor);
}

/*TABLE STYLE*/

.tableDocument {
  border-radius: 1em;
  width: 100%;

  margin: 20px auto;
}
.tHeadDocument {
  color: var(--secondaryColor);
  width: 100%;
}
.tableBody {
  width: 95%;
  margin: 5px auto;
  text-align: center;
  font-size: 0.8em;
}
.th1 {
  width: 10%;
}
.td1 {
  width: 10%;
  font-size: 0.7em;
  margin: 0.2em auto;
}

.th2 {
  width: 20%;
}
.td2 {
  width: 20%;
  margin: 0.2em auto;
}
