.infoContainerPagePro {
  margin: 5px auto;
  width: 90%;
  text-align: justify;
  border-radius: 1em;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--mainColor);
  background-position: center;
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
}
.textTitlePagePro {
  color: var(--accentColor);
  font-size: 1.3em;
  font-weight: 600;
}
.paragraphPagePro {
  color: var(--accentColor);
  font-size: 1em;
  margin: 15px auto;
}
.textContainerPagePro {
  width: 60%;
  text-align: justify;
}

.imageContainer {
  width: 170px;
  height: 170px;
  border-radius: 30%;
  overflow: hidden;
}
.containerWelcomePro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
  margin: 15px auto;
  width: 90%;
  padding: 10px;
}

.questionClient {
  font-size: 0.8em;
  text-align: center;
  font-weight: 600;
  color: var(--mainColor);
}

.imageLink {
  width: 170px;
  height: 170px;
  cursor: pointer;
}
.linkForum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--quarternaryColor);
  border-radius: 1em;
  height: 100px;
}

.containerLinkPro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1em;
  width: 90%;
  height: 150px;
  margin: 15px auto;
  color: var(--accentColor);
  text-align: center;
  font-size: 1.2em;
}

.returnPro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px auto;
  height: 150px;
  padding-top: 70px;
  margin-bottom: 100px;
  margin-right: 40px;
}

/* link become*/
.linkBecomeArtisan {
  margin: 1em auto;
  color: var(--accentColor);
  min-width: 90px;
  width: 70%;
  background-color: orangered;
  font-size: 1rem;
  padding: 8px;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.linkBecomeArtisan:hover,
.linkBecomeArtisan:focus {
  background-color: #ffb950;
  color: var(--mainColor);
}

/* link personal*/

.linkPersonalSpace {
  margin: 1em auto;
  color: var(--accentColor);
  min-width: 90px;
  width: 70%;
  background-color: #ffb950;
  font-size: 1rem;
  padding: 8px;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.linkPersonalSpace:hover,
.linkPersonalSpace:focus {
  background-color: orangered;
  color: var(--mainColor);
}

@media only screen and (max-width: 480px) {
  .imageContainer {
    display: none;
  }
  .infoContainerPagePro {
    margin: 5px auto;
    width: 90%;
    text-align: justify;

    border-radius: 1em;
    padding: 5px;
  }
  .textContainerPagePro {
    width: 80%;
  }

  .containerWelcomePro {
    display: flex;
    flex-direction: column;
  }
  .linkBecomeArtisan {
    width: 100%;
  }
  .linkPersonalSpace {
    width: 100%;
  }
}
